.landing {
    margin-bottom: 20px;
}

.landing h1 {
    font-weight: 600;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.landing h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
}

.description {
    line-height: normal;
    font-size: 1.3rem;
}

.stack {
    display: block;
}

.technology {
    margin: 8px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.stack svg{
    width: 1em;
    height: auto;
    margin-right: 8px;
}

.technology span {
    border-radius: 6px;
    color: #1b1b1c;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03), 
                0 2px 4px 2px rgba(0,0,0,0.03), 
                0 4px 8px 4px rgba(0,0,0,0.03);
    padding: 8px;
    margin-top: 8px;
    background: #fff;
}

@media only screen and (max-width: 768px) {
    .landing h1  {
        font-size: 1.7rem;
    }
    .landing h2 {
        font-size: 1.4rem;
    }
    
    .description {
        font-size: 1.1rem;
    }
}