* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.aboutPage {
    position: relative;
    height: 200vh;
    /* height: calc(200vh - 109px); */
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    margin-bottom: -41px;
}

.aboutPage .showcase .page-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    max-width: 970px;
}

.aboutPage .showcase {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutPage .moreDetails {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    height: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
}

.aboutPage .moreDetails .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 970px;
    line-height: 1.6;
    font-size: 1.1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    letter-spacing: .03em;
    margin-top: -44px;
    padding: 0 30px;
}

.aboutPage .moreDetails .content h1 {
    font-size: 1.9rem;
    line-height: normal;
    font-weight: 500;
    margin: 5px 0;
    padding-bottom: 1rem;
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    /* margin-bottom: 2rem; */
    /* background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03), 
                0 2px 4px 2px rgba(0,0,0,0.03), 
                0 4px 8px 4px rgba(0,0,0,0.03);
    border-radius: 1rem;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px; */
}

.description span {
    font-size: 1.3rem;
}

.ladning div {
    flex: 1;
}

.personal-info a {
    font-size: 1.2rem;
}

.landing h1 {
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    color: #1b1b1c;
    letter-spacing: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
}

.landing h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    /* padding-bottom: 0.5rem; */
    color: #1b1b1c;
    line-height: 2rem;
}

.description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    line-height: normal;
    flex-direction: column;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.stack .technology:first-child {
    margin-left: 0;
}

.stack .technology:last-child {
    margin-right: 0;
}

.technology {
    margin: 8px 8px;
    display: flex;
    align-items: center;
}

.stack svg{
    width: 1em;
    height: auto;
    margin-right: 8px;
}

.technology span {
    border-radius: 0.5rem;
    color: #1b1b1c;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.03), 
                0 2px 4px 2px rgba(0,0,0,0.03), 
                0 4px 8px 4px rgba(0,0,0,0.03);
    padding: 8px;
    /* margin-top: 8px; */
    background: #fff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.about-socialLinks-container {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-socialLinks-container .social {
    display: flex;
    justify-content: flex-end;
}

.about-socialLinks-container .social a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
}

.about-socialLinks-container .social a svg{
    width: 1.8rem;
    height: 1.8rem;
}

.content span {
    font-size: 1rem;
}

.link.scroll-to {
    position: absolute;
    padding: 0;
    bottom: 5vh;
}

.link.scroll-to button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 1rem;
}

.bounce {
    -webkit-animation: bounce 2.6s infinite;
    animation: bounce 2.6s infinite;
}

@-webkit-keyframes bounce {
    20%, 53%, 80%, 0%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -7px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
    }
    @keyframes bounce {
    20%, 53%, 80%, 0%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@media only screen and (max-width: 768px) {
    .landing {
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .stack {
        justify-content: center;
    }

    .aboutPage .page-content {
        padding: 10px;
    }

    .link {
        justify-content: center;
    }

    .personal-info {
        text-align: center;
    }

    .landing h1  {
        font-size: 2.2rem;
    }

    .landing h2 {
        font-size: 1.2rem;
    }
    
    .description {
        font-size: 1rem;
    }

    .about-socialLinks-container .social a:hover {
        background: transparent;
    }

    .aboutPage .moreDetails .content {
        font-size: 1.1rem;
        text-align: center;
    }

    .aboutPage .moreDetails .content h1 {
        font-size: 1.8rem;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 425px) {
    .technology {
        margin: 4px;
    }

    .landing h1  {
        font-size: 1.8rem;
    }
    
    .landing h2 {
        font-size: 1.3rem;
    }

    .aboutPage .moreDetails .content {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 320px) {
    .personal-info a {
        font-size: 1.1rem;
    }

    .landing {
        justify-content: center;
        flex-direction: column;
    }

    .personal-info address {
        text-align: center;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .about-socialLinks-container .social a {
        padding: 0;
    }

    .landing h1  {
        font-size: 1.6rem;
    }

    .link.scroll-to button{
        font-size: 0.9rem;
    }
    
    .landing h2 {
        font-size: 1.1rem;
    }

    .technology span {
        font-size: 0.9rem;
    }

    .aboutPage .moreDetails .content h1 {
        font-size: 1.6rem;
    }

    .aboutPage .moreDetails .content {
        font-size: 0.9rem;
    }
}