.hero-container {
    margin-bottom: 10px;
    padding: 20px 0;
    border-top: 1px solid rgb(224,224,224);
    border-bottom: 1px solid rgb(224,224,224);
    z-index: 1;
    width: 100%;
    background: #F0F0F0; /* rgba(212, 212, 213, 0.158) */
}

.hero-inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-container h1 {
    color: #464647;  /* #464647 */
    z-index: 2;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: left;
    align-self: flex-start;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.hero-container h2 {
    color: #464647;  /* #424243 */
    z-index: 2;
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    align-self: flex-start;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .hero-container h1 {
        font-size: 1.7rem;
    }
}
