html {
  @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-300 dark:scrollbar-thumb-gray-300 !dark:scrollbar-track-gray-900;
}

.main {
  @apply antialiased sm:subpixel-antialiased md:antialiased;

  font-family: 'Inter', Helvetica, sans-serif;
  position: relative;
}

.page-wrapper {
  @apply min-h-screen flex flex-col
    !bg[var(--color-white-warm)]
    dark:(!bg[var(--color-dark)] !text[var(--color-white-warm)]);
}

.container {
  @apply container h-full px-6 !max-w-780px mx-auto;

  /* transform: translateY(75px); */

  /* TODO: delete this */

  /* height: 10000px; */
}
