* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /* color: #1B1B1C; #1B1B1C */
}

a {
    color: #1B1B1C; /* #1B1B1C */
    text-decoration: none;
    transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}

a:hover {
    transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.active {
    color: #3F51B5;
}

a:hover {
    color: rgb(75, 95, 211); /* #dfdfdf */
}

button {
    outline: none;
    cursor: pointer;
}

button:hover {
    color: #3F51B5; /* #dfdfdf */
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAFAF9; /* #1B1B1C */
}

.page-content {
    color: #1B1B1C;
    padding: 0 20px;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.alert-success {
    background: #009A1D !important;
}

.alert-error {
    background: #DE2D23 !important;
}