.header {
    background: #F6F6F6; /* #1B1B1C */
    display: flex;
    flex-basis: 100%;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    color: #1B1B1C;
}

.headerNavList {
    display: flex;
    flex-direction: row;
}

.overlay {
    padding: 0;
    margin: 0;
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background: #F6F6F6; /* #1B1B1C */
    display: none;
    z-index: 2;
}

.mobileHeaderNavList {
    flex-direction: column;
    justify-content: center;  
    opacity: 0;
    visibility: hidden;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transition: visibility 0s, opacity 0.5s linear;
}

.overlay.showMenu {
   opacity: 1;
   visibility: visible;
   display: block;
}

.overlay.hideMenu {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.mobileHeaderNavList.fadeIn {
    opacity: 1;
    visibility: visible;
}

.mobileHeaderNavList.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.mobileHeaderNavList .headerNavItem {
    display: flex;
    font-size: 1.4rem;
}

.mobileHeaderNavList .headerNavItem a {
    width: 100%;
    background: #1B1B1C;
    color: #fcfcfcfc;
    padding: 20px;
    border-bottom: 1px solid #999999;
}

.headerNavItem {
    list-style: none;
}

.headerNavList .headerNavItem {
    margin-left: 2px;
}
.headerNavList .headerNavItem a {
    padding: 22px 20px;
}

.headerNavList .headerNavItem a:hover {
    background: rgba(0, 0, 0, 0.055);
}

.header .logo a {
    display: block;
    padding: 20px;
}

.header .logo a:hover {
    background: #1B1B1C;
    color: #fcfcfc !important;

}

.header .logo a:hover svg path{
    fill: #fcfcfc;
}

.menuBtn {
    background: transparent;
    outline: none;
    border: none;
    color: #1B1B1C; /* #fcfcfc */
    display: none;
    font-size: 2rem;
    visibility: visible;
    user-select: none;
}

.menuBtn:hover {
    color: #1B1B1C;
}

.showBtn {
    z-index: 3;
    font-size: 2rem;
    position: absolute;
    right: 0;
    padding: 25px;
    width: 100%;
    top: 0;
    display: block;
    background: #DE2D23;
    color: #fcfcfc !important;
}

.hideBtn {
    position: relative;
    z-index: 1;
}

.stop-scroll {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .headerNavList {
        display: none;
    }
    
    .menuBtn{
        display: block;
    }
    
}