.social {
    display: block;
}

.social a {
    text-align: center;
    font-size: 1rem;
    /* margin-left: 2px; */
    padding: 0.5rem;
}

.social a span {
    margin-top: 5px;
    font-size: 1rem;
}

.social a:hover {
    background: rgba(0, 0, 0, 0.055);
}