/* .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.mdl-grid {
    padding: 0 !important;
}

.mdl-card__title {
    position: relative;
}

.mdl-card__title-text {
    color: #fff;
    z-index: 1;
    padding: 3px;
    background: #333333;
} */

.projects-wrapper {
    margin-top: 3rem;
    padding: 0 5px;
}

.project_item {
    margin-bottom: 3.5rem;
}

.project_item__img {
    padding-bottom: 1rem;
    width: 100%;
}

.project_item__description h1 {
    padding-bottom: 0.9rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.project_item__links {
    display: flex;
}

.project_item__links .link {
    margin-right: 8px;
}

.project_item__links .link a {
    font-size: 0.9rem;
}

@keyframes fadeInImg {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}

.img-loading {
   opacity: 0;
   width: 100%;
   height: auto;
}

.img-loaded {
   animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
   position: relative;
   opacity: 0;
   animation-fill-mode: forwards;
   animation-duration: 0.7s;
   animation-delay: 0.1s;
}

@media  (max-width: 768px) {
    .project_item__description {
       padding-left: 10px;
       padding-right: 10px;
    }
    .project_item__img {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media  (max-width: 425px) {
    /* .mdl-card {
        width: 100%;
        margin: 15px 0 !important; 
    } */
}


/*  Night mode

    .mdl-tabs__tab {
        color: #cfcfcf;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #fcfcfc;
        font-weight: normal;
    }
*/