.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.mdl-grid {
    padding: 0 !important;
}

.mdl-card__title {
    position: relative;
}

.mdl-card__title-text {
    color: #fff;
    z-index: 1;
    padding: 3px;
    background: #333333;
}



@media  (max-width: 768px) {
    .mdl-card {
        margin: 15px 0 !important; 
    }
}

@media  (max-width: 425px) {
    .mdl-card {
        width: 100%;
        margin: 15px 0 !important; 
    }
}


/*  Night mode

    .mdl-tabs__tab {
        color: #cfcfcf;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #fcfcfc;
        font-weight: normal;
    }
*/