.footer {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    z-index: 1;
}

.social a {
    margin-right: 5px;
}

.social a svg {
    color: #999999;
}

.social a:hover svg {
    color: #1B1B1C;
}

.name {
    display: block;
    align-items: flex-start;
}

.contactInfo address {
    display: flex;
    align-items: center;
}

.contactInfo address a:hover {
    color: #4b5fd3;
}

.name, .contactInfo address a {
    color: #464647;
    font-size: 0.8rem;
    font-style: normal;
}

.contactInfo {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .name {
        text-align: center;
        width: 100%;
    }
    .contactInfo {
        display: none;
    }
}