.footer {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    color: #999999;
}

.social a svg {
    color: #999999;
}

.social a:hover svg {
    color: #1B1B1C;
    
}

.name {
    display: block;
    align-items: flex-start;
    color: #999999;
    font-size: 0.9rem;
}

.social {
    display: block;
    align-items: flex-end;
}

.social a {
    color: #999999;
    font-size: 1rem;
    margin-left: 2px;
    padding: 0.5rem;
}

.social a:hover {
    background: rgba(0, 0, 0, 0.055);
}